<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [18]:
import pandas as pd
pd.options.mode.chained_assignment = None  # default='warn'

Load the dataset into a dataframe.

In [19]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [20]:
len(df)
df['dupl']=df.duplicated()
df_dupl=df[df['dupl']==True]
no_dupl_rows=len(df_dupl)
no_dupl_rows

154

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [21]:
df=df.drop_duplicates()

Verify if duplicates were actually dropped.

In [22]:
len(df)

11491

In [27]:
len(df['Country'].isna())

11491

## Finding Missing values

Find the missing values for all columns.

In [9]:
df[df.isna().any(axis=1)]

for col in df.columns:
    print(col, 'No of missing values is ' + str(len(df[df[col].isna()])))

Respondent No of missing values is 0
MainBranch No of missing values is 0
Hobbyist No of missing values is 0
OpenSourcer No of missing values is 0
OpenSource No of missing values is 81
Employment No of missing values is 0
Country No of missing values is 0
Student No of missing values is 52
EdLevel No of missing values is 114
UndergradMajor No of missing values is 739
EduOther No of missing values is 164
OrgSize No of missing values is 97
DevType No of missing values is 66
YearsCode No of missing values is 9
Age1stCode No of missing values is 13
YearsCodePro No of missing values is 16
CareerSat No of missing values is 0
JobSat No of missing values is 1
MgrIdiot No of missing values is 496
MgrMoney No of missing values is 500
MgrWant No of missing values is 496
JobSeek No of missing values is 0
LastHireDate No of missing values is 0
LastInt No of missing values is 419
FizzBuzz No of missing values is 37
JobFactors No of missing values is 3
ResumeUpdate No of missing values is 41
CurrencySymbol No of missing values is 0
CurrencyDesc No of missing values is 0
CompTotal No of missing values is 813
CompFreq No of missing values is 206
ConvertedComp No of missing values is 820
WorkWeekHrs No of missing values is 124
WorkPlan No of missing values is 122
WorkChallenge No of missing values is 166
WorkRemote No of missing values is 8
WorkLoc No of missing values is 32
ImpSyn No of missing values is 5
CodeRev No of missing values is 1
CodeRevHrs No of missing values is 2452
UnitTests No of missing values is 29
PurchaseHow No of missing values is 197
PurchaseWhat No of missing values is 38
LanguageWorkedWith No of missing values is 11
LanguageDesireNextYear No of missing values is 136
DatabaseWorkedWith No of missing values is 455
DatabaseDesireNextYear No of missing values is 1050
PlatformWorkedWith No of missing values is 418
PlatformDesireNextYear No of missing values is 556
WebFrameWorkedWith No of missing values is 1405
WebFrameDesireNextYear No of missing values is 1628
MiscTechWorkedWith No of missing values is 2197
MiscTechDesireNextYear No of missing values is 1467
DevEnviron No of missing values is 29
OpSys No of missing values is 34
Containers No of missing values is 82
BlockchainOrg No of missing values is 2343
BlockchainIs No of missing values is 2626
BetterLife No of missing values is 99
ITperson No of missing values is 35
OffOn No of missing values is 38
SocialMedia No of missing values is 297
Extraversion No of missing values is 20
ScreenName No of missing values is 511
SOVisit1st No of missing values is 325
SOVisitFreq No of missing values is 5
SOVisitTo No of missing values is 1
SOFindAnswer No of missing values is 3
SOTimeSaved No of missing values is 51
SOHowMuchTime No of missing values is 1929
SOAccount No of missing values is 1
SOPartFreq No of missing values is 1139
SOJobs No of missing values is 6
EntTeams No of missing values is 5
SOComm No of missing values is 0
WelcomeChange No of missing values is 88
SONewContent No of missing values is 1985
Age No of missing values is 292
Gender No of missing values is 74
Trans No of missing values is 123
Sexuality No of missing values is 545
Ethnicity No of missing values is 680
Dependents No of missing values is 142
SurveyLength No of missing values is 19
SurveyEase No of missing values is 14
dupl No of missing values is 0

Find out how many rows are missing in the column 'WorkLoc'

In [10]:
len(df[df['WorkLoc'].isna()])

32

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [11]:
df['WorkLoc'].value_counts()

Office                                            6865
Home                                              3619
Other place, such as a coworking space or cafe     975
Name: WorkLoc, dtype: int64

In [29]:
df['UndergradMajor'].value_counts()

Computer science, computer engineering, or software engineering          7012
Information systems, information technology, or system administration     801
Another engineering discipline (ex. civil, electrical, mechanical)        767
Web development or web design                                             414
A natural science (ex. biology, chemistry, physics)                       407
Mathematics or statistics                                                 374
A business discipline (ex. accounting, finance, marketing)                246
A social science (ex. anthropology, psychology, political science)        211
A humanities discipline (ex. literature, history, philosophy)             208
Fine arts or performing arts (ex. graphic design, music, studio art)      163
I never declared a major                                                  125
A health science (ex. nursing, pharmacy, radiology)                        24
Name: UndergradMajor, dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [2]:
#make a note of the majority value here, for future reference
#Office

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [12]:
indices=df[df['WorkLoc'].isna()].index
indices

Int64Index([  130,   242,   866,  1455,  1753,  2339,  2689,  2788,  3165,
             3213,  3690,  3996,  4944,  5654,  5671,  5824,  6321,  7361,
             7557,  7714,  7779,  8010,  8188,  8855,  9066,  9070, 10219,
            10709, 10951, 11253, 11331, 11521],
           dtype='int64')

In [13]:
for j in indices:
    df['WorkLoc'].loc[j]='Office'

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [14]:
len(df[df['WorkLoc'].isna()])

0

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [32]:
df['CompFreq'].value_counts()

Yearly     6128
Monthly    4823
Weekly      334
Name: CompFreq, dtype: int64

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [35]:
df[['NormalizedAnnualCompensation']]=df[['CompFreq']]

for i in df.index:
    if i > len(df):
        pass
    else:
        if df['CompFreq'].loc[i] == 'Yearly':
            df['NormalizedAnnualCompensation'].loc[i]=df['CompTotal'].loc[i]
        elif df['CompFreq'][i] == 'Monthly':
            df['NormalizedAnnualCompensation'].loc[i]=df['CompTotal'].loc[i]*12
        elif df['CompFreq'].iloc[i] == 'Weekly':
            df['NormalizedAnnualCompensation'].loc[i]=df['CompTotal'].loc[i]*52

In [37]:
df[['CompFreq','CompTotal','NormalizedAnnualCompensation']].head(20)

   CompFreq  CompTotal NormalizedAnnualCompensation
0    Yearly    61000.0                      61000.0
1    Yearly   138000.0                     138000.0
2    Yearly    90000.0                      90000.0
3   Monthly    29000.0                     348000.0
4    Yearly    90000.0                      90000.0
5   Monthly     9500.0                     114000.0
6   Monthly     3000.0                      36000.0
7    Yearly   103000.0                     103000.0
8    Yearly    69000.0                      69000.0
9   Monthly     8000.0                      96000.0
10  Monthly     7000.0                      84000.0
11   Yearly   114000.0                     114000.0
12   Weekly     2000.0                     104000.0
13   Weekly    22000.0                    1144000.0
14  Monthly    96000.0                    1152000.0
15   Yearly   156000.0                     156000.0
16   Yearly    18000.0                      18000.0
17  Monthly     6400.0                      76800.0
18  Monthly     5000.0                      60000.0
19   Yearly   400000.0                     400000.0

In [36]:
df['NormalizedAnnualCompensation'].mean

UFuncTypeError: ufunc 'add' did not contain a loop with signature matching types (dtype('float64'), dtype('<U6')) -> None

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright Â© 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).